<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>412208839835-k4v5ldns137gn5i9v95qal2j0etpffhf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412208839835-k4v5ldns137gn5i9v95qal2j0etpffhf</string>
	<key>API_KEY</key>
	<string>AIzaSyAik3zzg5KJb2P6TLsw1YcAtrSqkDmx2FA</string>
	<key>GCM_SENDER_ID</key>
	<string>412208839835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.angularfirebase.feedlyapp</string>
	<key>PROJECT_ID</key>
	<string>myapp-93470</string>
	<key>STORAGE_BUCKET</key>
	<string>myapp-93470.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412208839835:ios:12eabe2529e1e258</string>
	<key>DATABASE_URL</key>
	<string>https://myapp-93470.firebaseio.com</string>
</dict>
</plist>