<!--
  Generated template for the ConfigurePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Configure Post</ion-title>

    <ion-buttons end>
      <button ion-button icon-only clear (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>

    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label>Section of Work</ion-label>
    <ion-select [(ngModel)]="worksection">
      <ion-option value="Rectilinear, plane and curvilinear motion">Rectilinear, plane and curvilinear motion</ion-option>
      <ion-option value="Relative and constrained motion">Relative and constrained motion</ion-option>
      <ion-option value="Relative and constrained motion">Rotation and absolute motion</ion-option>
      <ion-option value="Relative and constrained motion">Instantaneous centres of zero velocity</ion-option>
      <ion-option value="Relative and constrained motion">Relative velocity and acceleration</ion-option>
      <ion-option value="Relative and constrained motion">Motion relative to rotating axes</ion-option>
      <ion-option value="Relative and constrained motion">Newton's 2nd Law</ion-option>
      <ion-option value="Relative and constrained motion">Work, kinetic energy and potential energy</ion-option>
      <ion-option value="Relative and constrained motion">Power and efficiency</ion-option>
      <ion-option value="Relative and constrained motion">Linear and angular impulse-momentum and impact</ion-option>

      <div>Mass moment of inertia</div>
      <ion-option value="Relative and constrained motion">Mass moment of inertia</ion-option>
      <ion-option value="Relative and constrained motion">General equations of motion</ion-option>
      <ion-option value="Relative and constrained motion">Translation, fixed-axis rotation, general plane motion</ion-option>
      <ion-option value="Relative and constrained motion">Work, kineticc kenergy and potential energy</ion-option>
      <ion-option value="Relative and constrained motion">Power and efficiency</ion-option>
      <ion-option value="Relative and constrained motion">Linear and angular impulse momentum and impact</ion-option>

    </ion-select>
  </ion-item>

  <div class="item profilepic-border" align="center" *ngIf="this.image">
  	<button class="profilebutton" (click)="removePhoto()">
      <ion-icon name="close-circle"></ion-icon>
    </button>
  	<img class="profilepic padding-bottom" [src]="this.image" *ngIf="this.image" (click)="ViewPhoto(post.data().image)">
  </div>
</ion-content>

<ion-footer>

    <ion-row margin class="rowStyle">
      <button ion-button item-left color="danger" clear (click)="addPhoto()">
        <ion-icon name="images"></ion-icon>
      </button>

      <ion-textarea rows="1" name="dummyText"  type="text" value="{{this.text}}" [(ngModel)]="text" autosize></ion-textarea>

      <button ion-button icon-right  color="danger" clear (click)="updatePost(post)">
        <ion-icon name="send"></ion-icon>
      </button>
  </ion-row>
</ion-footer>
