page-feed {
  ion-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}
.image{
  max-width: 400px;
  text-align: center;
  margin: auto;
}
.fineprint {
  font-size: 10px;
  text-align: center;
}

.posting {
  width: 50%;
}

    .rowStyle {
        border: solid map-get($colors , danger) 1px;
        border-radius: 5px;
        margin-top: 15px;
        //style: display:flex; flex-direction:column;justify-content:center;color:#000000;

        ion-input {
          //  margin-top: 5px;
        }

    }
    .clearfix::after {
    content: "";
    clear: both;
    display: table;
}

    .bottom-bar{
        background-color: map-get($colors , semi-light);

        .border-right {
            border-right: 1px solid map-get($colors, light );
        }
    }

    .round-corners {
        border-radius: 24px;
    }
    ion-footer {
      background-color: map-get($colors , semi-light);
      //color:#ffffff;
      .profilebutton {
          z-index: 10;
          position: absolute;
          left: 22%;
          top: 8%;
          margin: auto;
      }
      .profilepic {
        border:1px solid #000000;
        width: 65%;
        height: 65%;
      }
      .profilepic-border {
        position: relative;
        background: #f9f2f2;
      }

    }
    ion-row{
      background-color: map-get($colors , semi-light);
      //color:#ffffff;
    }
    .katex-display > .katex {
      //display: flex;
      //white-space: normal;
      width: 100%;
      //display: inline-flex;
      overflow-x: scroll;
//      text-align: center;
      //float: left;
//      display:table;
//      text-align: center;
//      white-space: normal;

    }
    .katex {
      font: normal 1.21em KaTeX_Main, Times New Roman, serif;
      line-height: 1.2;
      white-space: normal;
      text-indent: 0;
    }
}
