<ion-header>

  <ion-navbar color="danger">
    <ion-title>
      <small>{{ comments.length }} comments.</small>
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only clear (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content #content>
<img [src]="post.data().image" *ngIf="post.data().image">

<ion-list>

  <ion-item *ngFor="let comment of comments" no-lines>

    <div class="chat-message" text-left *ngIf='this.CurrentStudentName !== comment.data().owner_name'>
      <div class="left-bubble" *ngIf='this.CurrentStudentName !== comment.data().owner_name'>
        <span class="msg-name">{{ comment.data().owner_name }}</span>
        <span class="msg-date"><em> {{ ago(comment.data().created.toDate()) }} ago </em></span>
        <p text-wrap>{{ comment.data().text }}</p>
        <img [src]="comment.data().image" *ngIf="comment.data().image">
      </div>
    </div>

    <div class="chat-message" text-left *ngIf='this.CurrentStudentName == comment.data().owner_name'>
      <div class="right-bubble" *ngIf='this.CurrentStudentName == comment.data().owner_name'>
        <span class="msg-name">{{ comment.data().owner_name }}</span>
        <span class="msg-date"><em> {{ ago(comment.data().created.toDate()) }} ago </em></span>
        <p text-wrap>{{ comment.data().text }}</p>
        <img [src]="comment.data().image" *ngIf="comment.data().image">
      </div>
    </div>

  </ion-item>

</ion-list>

</ion-content>



<ion-footer>
  <ion-row margin class="rowStyle" *ngIf="image">
    <ion-card class="round-corners">
      <img [src]="image" class="round-corners">
    </ion-card>
  </ion-row>


  <ion-row margin class="rowStyle" position="bottom">
    <button ion-button icon-left  color="danger" clear (click)="addPhoto()"> <!-- (click)="addPhoto()" -->
      <ion-icon name="images"></ion-icon>
    </button>

    <ion-input type="text" placeholder="Say something..." [(ngModel)]="text"></ion-input>

    <button ion-button icon-right  color="danger" clear (click)="newcomment()"> <!-- (click)="post()" -->
      <ion-icon name="send"></ion-icon>
    </button>
  </ion-row>
</ion-footer>



<!--

<i> {{ ago(comment.data().created.toDate()) }} ago </i>
{{chat.sendDate | date:'short'}}

<ion-content>
<img [src]="post.data().image" *ngIf="post.data().image">

  <ion-list>
    <ion-item *ngFor="let comment of comments" no-lines>
      <ng-template #message>
        <div class="chat-message" text-right *ngIf='this.StudentNumber == post.data().owner_email'>
          <div class="right-bubble">
            <span class="msg-name">Me</span>
            <span class="msg-date"><i> {{ ago(comment.data().created.toDate()) }} ago </i></span>
            <p text-wrap>{{ comment.data().text }}</p>
          </div>
        </div>
        <div class="chat-message" text-left *ngIf='this.StudentNumber !== post.data().owner_email'>
          <div class="left-bubble">
            <span class="msg-name">{{ comment.data().owner_name }}</span>
            <span class="msg-date"><i> {{ ago(comment.data().created.toDate()) }} ago </i></span>
            <p text-wrap>{{ comment.data().text }}</p>
          </div>
        </div>
      </ng-template>
    </ion-item>
  </ion-list>
</ion-content>


SHORTENED VERSION
<ion-list>
  <ion-item *ngFor="let comment of comments" no-lines>
    <ng-template #message>

      <div class="chat-message" text-left >
        <div class="left-bubble">
          <span class="msg-name">{{ comment.data().owner_name }}</span>
          <span class="msg-date"><i> {{ ago(comment.data().created.toDate()) }} ago </i></span>
          <p text-wrap>{{ comment.data().text }}</p>
        </div>
      </div>
    </ng-template>
  </ion-item>
</ion-list>
</ion-content>

OLD VERSION
  <ion-list>
    <ion-item *ngFor="let comment of comments">
      <ion-icon item-left name="ios-chatbubbles-outline"></ion-icon>
      <h2>
        <small text-wrap>{{ comment.data().text }}</small>
      </h2>
      <p>
        <small>
          {{ comment.data().owner_name }} <i> {{ ago(comment.data().created.toDate()) }} ago </i>
        </small>
      </p>
    </ion-item>
  </ion-list>
</ion-content>


<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-10>
        <ion-input type="text" placeholder="Type a message" [(ngModel)]="data.message" name="message"></ion-input>
      </ion-col>
      <ion-col col-2 (click)="sendMessage()">
        <ion-icon name="paper-plane"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
-->
